:host {
  .site-header {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 960px;
    a {
      text-decoration: none;
    }
  }
  .site-main {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 960px;
  }
}
